{% extends "base.html" %}
{% load static %}
{% csrf_token %}

{% block content %}
        <!-- Content -->
            <section>
                <header class="main">
                    <h1>My Personalized feeds</h1>
                </header>

                <div class="posts">
                    {% for feed in feeds %}
                        <article>
                            <a href="#" class="image">
                                {% if feed.image %}
                                    <img src="{{ feed.image }}" alt="{{ feed.content_name|escape }}">
                                {% else %}
                                    <img src="https://source.unsplash.com/random" alt="{{ feed.content_name|escape }}">
                                {% endif %}
                            </a>
                            <h3>{{ feed.title|escape }}</h3>
                            <p>{{ feed.description|escape|safe | slice:":400"}}</p>
                            <ul class="actions">
                                <li><a href="{{ feed.link }}" class="button" target="_blank">More</a></li>
                            </ul>
                        </article>
                    {% endfor %}
                 </div>
            </section>
{% endblock %}
