{% extends "base.html" %}

{% block content %}

  <!--Password Reset Complete-->
    <section>
	    <h1>Password reset complete</h1>
		<hr class="major" />
        <p>Your password has been set. You may go ahead and log in now.</p>
        <div class="row gtr-200">
                        <div class="col-6 col-12-medium">
                                    <div class="row gtr-uniform">
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><a href="{% url 'user-creation:login' %}" class="primary">Log In</a></li>
                                            </ul>
                                        </div>
                                    </div>
                        </div>
                    </div>
    </section>

{% endblock %}
